<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block meta %}
            <meta charset="UTF-8"/>
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        {% endblock %}
        {% block stylesheets %}
            <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
            <link href="{{ asset('common.css') }}" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        {% block flashmessages %}
            {% set errors = app.flashes('error') %}

            {% if errors is not empty %}
                <div class="mb-5">
                    {% for message in errors %}
                        <div class="items-center justify-center px-5 py-2 text-base font-medium rounded-md text-white bg-red-600 m-2">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endblock %}
        {% block body %}{% endblock %}

        {% block debugger %}
            {% import 'shared/buttons.html.twig' as button %}
            <div class="js-event-debugger" data-socket-url="{{ transaction_socket_host }}"></div>
            <div class="js-event-debugger--close">
                {{ button.primary_link_small('#', 'Close live log') }}
            </div>
            <div class="js-event-debugger--open">
                {{ button.primary_link_small('#', 'Open live log') }}
            </div>
        {% endblock %}

        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
            <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
            <script src="{{ asset('javascript/index.js') }}"></script>
            <script src="{{ asset('javascript/debugger.js') }}"></script>
        {% endblock %}
    </body>
</html>
